:root {
    --navBg: #F7F6FF;
    --border:rgb(90, 88, 88);
    --footerline: #5DADE2;
    --BlueDark: #02577A;
  }

body {
    background-color: #E5E5E5;
}
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
