:root {
    --navBg: #F7F6FF;
    --border:rgb(90, 88, 88);
    --footerline: #5DADE2;
    --BlueDark: #02577A;
    --defaultColor:#C4C4C4;
    --white: #FFFFFF;
  }

body {
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh
}
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
