@import "../global.css";

* {
    margin:0;
    padding:0;
    font-size: 62.5%;
}


nav{  
    width: 100px;
    height: 100vh;
    background-color: var(--navBg);
    opacity: 0.8;
    border: 0.2rem var(--border) solid;
    }
 .nav-content {
    max-width: 203px;   
    }
    nav:hover {
        width: 206px;
    }
    nav:hover > .nav-content{
        position:fixed;       
    }
    nav:hover > .line {
        
        overflow: visible;
    }
    nav:hover .text {
        display: contents;
    }

.main-logo{
    display: flex;
    justify-content: center;
}
#main-svg {
    width: 61px;
    height: 61px;
    filter: invert(0);
    margin-top: 52px;
    margin-bottom: 13px;
}
.line {
    display: flex;
    overflow: hidden;
    width:50%;
    justify-content: center;
    border-bottom: 2px var(--border) solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.home>a {
    display: grid;
    grid-template-areas: 
    "i t t";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    padding: 16px 32px 16px 32px;
    
}
.text {
    display: none;
    grid-area: t;
    font-size: 16px;
    padding-left:2rem;
}
#home {
    grid-area: i;
    width: 25px;
    height: 25px;
}
.calandar>a {                                              
    display: grid;
    grid-template-areas: 
    "i t t";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    padding: 16px 32px 16px 32px;
}
#calandar {
    grid-area: i;
    width: 25px;
    height: 25px;
}
.FE>a {
    display: grid;
    grid-template-areas: 
    "i t t";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    padding: 16px 32px 16px 32px;
}
#FE {
    grid-area: i;
    width: 25px;
    height: 25px;
}
.games>a {
    display: grid;
    grid-template-areas: 
    "i t t";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    justify-content:first baseline;
    padding: 16px 32px 16px 32px;
}
#games {
    grid-area: i;
    width: 40px;
    height: 25px;
    margin-right: 19px;
}
.nav-bar {
    display:flex;
}
a {
    text-decoration: none;
    color: var(--defaultColor);
}
.home:active,
.calandar:active,
.FE:active,
.games:active {
    background-color: #FFFFFF;
    filter: brightness(90%);
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    color: var(--BlueDark);
}
.home>a:active,
.calandar>a:active,
.FE>a:active,
.games>a:active  {
    filter: invert(89%) sepia(81%) saturate(7344%) hue-rotate(188deg) brightness(60%) contrast(99%);
}

footer {  
    position: absolute;
    left: 80vh;
    bottom: 5px;;
    font-size: 16px;
    text-align: center;
    color: var(--footerline);
}
.footer-line {
    border-top: 1px solid var(--BlueDark);
    width: 346.01px;
}
.footer-line >span{
    font-size: 11px;
}
